<footer>
	{# SECT RRSS #}
	<article>
		<div>
			<img src="https://www.instagram.com/cezdev/" alt="Logo Instagram Cezdev">
			<img src="https://www.facebook.com/EcoleRi7/" alt="Logo Facebook Ecole Ri7">
		</div>
		<h3>Suivez-nous sur nos réseaux sociaux</h3>
	</article>

	{# SECT EXT-PAGES #}
	<div>
		<article>
			<h4>1. Confidentialité et Sécurité</h4>
			<nav>
				<ul>
					<li>Politique de confidentialité</li>
					<li>Politique de sécurité des données</li>
					<li>Politique de stockage des données</li>
					<li>Politique relative aux cookies</li>
					<li>Confidentialité des informations médicales</li>
				</ul>
			</nav>
		</article>

		<article>
			<h4>2. Utilisation de l'Application</h4>
			<nav>
				<ul>
					<li>Conditions générales d'utilisation</li>
					<li>Gestion du compte</li>
					<li>Suppression du compte et des données</li>
					<li>Consentement éclairé</li>
				</ul>
			</nav>
		</article>

		<article>
			<h4>3. Données Médicales</h4>
			<nav>
				<ul>
					<li>Accès à vos rapports médicaux</li>
					<li>Droits du patient</li>
					<li>Suivi de la santé et du bien-être</li>
				</ul>
			</nav>
		</article>

		<article>
			<h4>4. Informations Générales</h4>
			<nav>
				<ul>
					<li>Mentions légales</li>
					<li>Contact</li>
					<li>À propos de nous</li>
					<li>Droits d'auteur</li>
				</ul>
			</nav>
		</article>
	</div>

	{# SECT COPYRIGHT #}
	<div>
		<p>@copyright 2024</p>
		<div>
			<img src="" alt="">
			<p>Site web crée par cezdev</p>
		</div>
	</div>

</footer>
