<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="MaternaCare, l'application idéale pour le suivi de la santé pendant la grossesse. Centralisez vos données médicales, suivez vos symptômes et partagez facilement les informations avec les professionnels de santé.">
	<meta name="keywords"
		content="grossesse, suivi grossesse, application santé, santé maternelle, contrôle prénatal, données médicales, maternité, symptômes grossesse, professionnel de santé, soins prénatals">

	<title>MaternaCare - Page d'accueil</title>
	<link rel="stylesheet" href="../public/assets/css/accueil.css">
	<link rel="stylesheet" href="/assets/css/accueil.css">

	<link rel="icon" href="../public/assets/media/images/logo-nobackground.png" type="image/x-icon">
	<link rel="icon" href="/assets/media/images/logo-nobackground.png" type="image/x-icon">

</head>


<body>
	<!-- BANNER PRESENTATION ACCUEIL -->
	<article class="present-banner">
		<img id="img-background-banner" src="/assets/media/images/image_background_home.jpg"
			alt="Fond d'une femme enceinte avec son enfant à côté">
		<div id="green-opac-banner"></div>
		<h1 class="title-accueil">
			Ta grossesse, notre priorité
		</h1>
		<p>
			Une application pensée pour t'accompagner à chaque instant de ta grossesse, avec sécurité et bienveillance.
		</p>
		<button class="btn-signin">
			Essaye MaternaCare
		</button>
	</article>

	<article class="adv-section">
		<h2 class="title-accueil">
			Et les avantages ?
		</h2>
		<div class="adv-container top">
			<article class="adv-card">
				<div class="adv-image-background">
					<img src="/assets/media/icons/icon_touchscreen.svg" alt="Icône de téléphone tactile">
				</div>
				<h4>Interface intuitive et facile</h4>
				<p>Une application simple à utiliser pour suivre ta grossesse.</p>
			</article>
			<article class="adv-card">
				<div class="adv-image-background">
					<img src="/assets/media/icons/icon_share.svg" alt="Icône du symbole de partager">
				</div>
				<h4>Partage rapide avec médecins</h4>
				<p>Partage tes données médicales en toute simplicité avec ton équipe soignante.</p>
			</article>
		</div>
		<div class="adv-container bottom">
			<article class="adv-card">
				<div class="adv-image-background">
					<img src="/assets/media/icons/icon_lock.svg" alt="Icône de cadenas sécurisé">
				</div>
				<h4>Stockage sécurisé</h4>
				<p>Tes informations confidentielles, protégées et accessibles à tout moment.</p>
			</article>
			<article class="adv-card">
				<div class="adv-image-background">
					<img src="/assets/media/icons/icon_access_folder.svg" alt="Icône de dossier accessible">
				</div>
				<h4>Accès rapide</h4>
				<p>Retrouve instantanément toutes tes données importantes en un seul endroit.</p>
			</article>
		</div>
	</article>

	<!-- INVIT SECTION -->
	<article class="invit-section">
		<video src="/assets/media/videos/video_background_home.mp4" muted autoplay loop type="video/mp4"></video>
		<div class="opacity-video"></div>

		<h2 class="title-accueil cta">Rejoins-nous dès maintenant</h2>
		<p>Inscris-toi et découvre comment MaternaCare facilite ta grossesse au quotidien. <br>Ne manque pas cette
			chance !
		</p>
		<button class="btn-signin">Commence l’expérience</button>
	</article>

	<!-- ABOUTUS SECTION -->
	<article class="aboutus-section">
		<div class="title-aboutus">
			<h2 class="title-accueil">Tout ton suivi, au même endroit</h2>
			<img src="/assets/media/images/illustration_aboutus_home.svg"
				alt="Illustration d'une femme enceinte et son médécin en regardant son bébé dans l'échographie">
		</div>
		<div class="text-aboutus">
			<img src="/assets/media/images/rectangle_background_aboutus.png" alt="Forme pour le fond vert">
			<p>MaternaCare est une application conçue comme une véritable base de données personnelle pour ta grossesse.
				<br>Elle te permet de suivre et d’enregistrer facilement tous les aspects importants de cette période
				unique. Grâce à divers formulaires intuitifs, tu peux conserver des informations précieuses telles que
				ton alimentation, la fréquence des contractions, tes notes personnelles, tes activités physiques, et
				même stocker des documents médicaux comme les échographies.

				<br><br>Avec MaternaCare, garde toutes tes données organisées et accessibles en un seul endroit pour un
				suivi
				complet et personnalisé de ta grossesse.
			</p>
		</div>
	</article>

	<div class="birth-container">
		<img src="/assets/media/images/births_graph.png" alt="Graphiques sur les naissances">
		<article class="text-birth">
			<h2 class="title-accueil">Tendances des naissances par âge</h2>
			<div class="text-container-birth">
				<div class="icon-birth">
					<img src="/assets/media/icons/icon_pregnant_home.svg" alt="Icône de femme enceinte">
				</div>
				<p>Les données sur les naissances en France montrent des évolutions significatives selon l'âge des
					mamans.

					Avec MaternaCare, accède à un suivi personnalisé qui tient compte de ces tendances pour offrir aux
					jeunes mamans et aux professionnels de santé des outils adaptés à chaque situation.
					Un accompagnement sur-mesure, basé sur des chiffres réels, pour une prise en charge optimale de la
					grossesse.</p>
			</div>
		</article>
	</div>

	<footer>
		<!-- {# SECT RRSS #} -->
		<article class="social-container">
			<div>
				<a href="https://www.instagram.com/cezdev/">
					<img src="./assets/media/icons/icon_instagram_circle.svg" alt="Logo Instagram Cezdev">
				</a>
				<a href="https://www.facebook.com/EcoleRi7/">
					<img id="fc-logo" src="./assets/media/icons/icon_facebook_circle.svg" alt="Logo Facebook Ecole Ri7">
				</a>
			</div>
			<h3>Suivez-nous sur nos réseaux sociaux</h3>
		</article>

		<!-- {# SECT EXT-PAGES #} -->
		<div class="links-container">
			<article class="links-cards">
				<h4>1. Confidentialité et Sécurité</h4>
				<nav>
					<ul>
						<a href="#" id="privacy-policy-link">Politique de confidentialité</a>
						<a href="#" id="security-policy-link">Politique de sécurité des données</a>
						<li><a href="">Politique de stockage des données</a></li>
						<li><a href="">Politique relative aux cookies</a></li>
						<li><a href="">Confidentialité des informations médicales</a></li>
					</ul>
				</nav>
			</article>

			<article class="links-cards">
				<h4>2. Utilisation de l'Application</h4>
				<nav>
					<ul>
						<li><a href="">Conditions générales d'utilisation</a></li>
						<li><a href="">Gestion du compte</a></li>
						<li><a href="">Suppression du compte et des données</a></li>
						<li><a href="">Consentement éclairé</a></li>
					</ul>
				</nav>
			</article>

			<article class="links-cards">
				<h4>3. Données Médicales</h4>
				<nav>
					<ul>
						<li><a href="">Accès à vos rapports médicaux</a></li>
						<li><a href="">Droits du patient</a></li>
						<li><a href="">Suivi de la santé et du bien-être</a></li>
					</ul>
				</nav>
			</article>

			<article class="links-cards">
				<h4>4. Informations Générales</h4>
				<nav>
					<ul>
						<li><a href="">Mentions légales</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">À propos de nous</a></li>
						<li><a href="">Droits d'auteur</a></li>
					</ul>
				</nav>
			</article>
		</div>

		<!-- {# SECT COPYRIGHT #} -->
		<div class="copy-container">
			<p>@copyright 2024</p>
			<a href="https://cesarsoyo.github.io/Portfolio_CesarOrtiz/">
				<img src="./assets/media/images/logo_cezdev.png" alt="Logo Cezdev">
			</a>
			<p>Site web crée par cezdev</p>
		</div>

	</footer>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const signinButtons = document.querySelectorAll('.btn-signin');
			signinButtons.forEach(button => {
				button.addEventListener('click', function () {
					window.location.href = 'http://localhost:3000/signin';
				});
			});
		});
		
		document.addEventListener("DOMContentLoaded", function () {
			const privacyLink = document.getElementById("privacy-policy-link");
			const securityLink = document.getElementById("security-policy-link");

			privacyLink.addEventListener("click", function (event) {
				event.preventDefault();
				window.location.href = "/privacypg";
			});
			securityLink.addEventListener("click", function (event) {
				event.preventDefault();
				window.location.href = "/securitypg";
			});
		});


	</script>

</body>



</html>