<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="MaternaCare, l'application idéale pour le suivi de la santé pendant la grossesse. Centralisez vos données médicales, suivez vos symptômes et partagez facilement les informations avec les professionnels de santé.">
		<meta name="keywords" content="grossesse, suivi grossesse, application santé, santé maternelle, contrôle prénatal, données médicales, maternité, symptômes grossesse, professionnel de santé, soins prénatals">
		{% block styles %}
			<link rel="stylesheet" href="./assets/css/base.css">
		{% endblock %}

		<link rel="icon" href="../public/assets/media/images/logo-nobackground.png" type="image/x-icon">

		<title>MaternaCare</title>

	</head>

	<body>
		{% include "./partials/header.twig" %}
		{% block main %}{% endblock %}
		{% include "./partials/footer.twig" %}
	</body>
</html>
