<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./assets/css/base.css">
		<title>Ma page</title>
	</head>

	<body>
		{% include "./partials/header.twig" %}
		{% block main %}{% endblock %}
		{% include "./partials/footer.twig" %}
	</body>
</html>