{% extends "../base.twig" %}

{% block styles %}
	<link rel="stylesheet" href="/assets/css/dashboard.css">
{% endblock %}

{% block title %}
	<title>Tableau de bord</title>
{% endblock %}

{% block main %}

	<section class="main-container">
		<p class="page-title">Tableau de bord</p>
		<p id="welcome-text">Coucou
			<span id="name-text">{{user.firstname}}</span>
		</p>
		<h1>Prête à embrasser cette nouvelle étape ?</h1>
		<div id="info"></div>

		<div class="bicards-info">
			<div class="info-baby-container">
				<div class="title-info">
					<div class="img-info">
						<img src="/assets/media/icons/icon_bottlemilk.svg" alt="Icône d'une tétine">
					</div>
					<div>
						<h2>Détails sur ton petit trésor :</h2>
					</div>
				</div>

				<div class='info-container' style="display: none;">
					<div class="text-info weight">
						<p class="numb">1.4</p>
						<p class="units">Kg</p>
					</div>
					<div class="text-info size">
						<p class="numb">41</p>
						<p class="units">cm</p>
					</div>
					<div class="text-info weeks">
						<p class="numb">31</p>
						<p class="units">semaines</p>
					</div>
				</div>
			</div>

			<div class="info-baby-container">
				<div class="title-info">
					<div class="img-info">
						<img src="/assets/media/icons/icon_electrocardio.svg" alt="Icône d'une tétine">
					</div>
					<div>
						<h2>Contractions récentes</h2>
					</div>
				</div>
				<div class='info-container' style="display: none;">
					<div class="text-info weight">
						<p class="numb">Données non enregistrées</p>
						<p class="units"></p>
					</div>
					<div class="text-info size">
						<p class="numb"></p>
						<p class="units"></p>
					</div>
					<div class="text-info weeks">
						<p class="numb"></p>
						<p class="units"></p>
					</div>
				</div>
			</div>
		</div>


		<div class="tools-container">
			<div>
				<h2>Outils</h2>
			</div>
			<div class="toolcards-container">
				<div class="bidiv">
					<div class="tool-cards" id="foodCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_food.svg" alt="Icône alimentation">
						</div>
						<div class='tools-title'>
							<p>Alimentation</p>
						</div>
					</div>
					<div class="tool-cards" id="medicamentCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_pills.svg" alt="Icône médicaments">
						</div>
						<div class='tools-title'>
							<p>Médicaments</p>
						</div>
					</div>
				</div>

				<div class="bidiv">
					<div class="tool-cards" id="hospitalsCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_hospital.svg" alt="Icône hospital">
						</div>
						<div class='tools-title'>
							<p>Hôpitaux</p>
						</div>
					</div>
					<div class="tool-cards" id="doctorsCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_doctorsuitcase.svg" alt="Icône médecins">
						</div>
						<div class='tools-title'>
							<p>Médecins</p>
						</div>
					</div>
				</div>

				<div class="bidiv">
					<div class="tool-cards" id="contactCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_earphone.svg" alt="Icône contact">
						</div>
						<div class='tools-title'>
							<p>Contact</p>
						</div>
					</div>
					<div class="tool-cards" id="notesCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_file.svg" alt="Icône notes">
						</div>
						<div class='tools-title'>
							<p>Notes</p>
						</div>
					</div>
				</div>

				<div class="bidiv">
					<div class="tool-cards" id="publicationsCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_library.svg" alt="Icône publications">
						</div>
						<div class='tools-title'>
							<p>Publications</p>
						</div>
					</div>
					<div class="tool-cards" id="documentsCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_downloaddoc.svg" alt="Icône documents">
						</div>
						<div class='tools-title'>
							<p>Documents</p>
						</div>
					</div>
				</div>

				<div class="bidiv">
					<div class="tool-cards" id="contractionsCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_electrocardio1.svg" alt="Icône contractions">
						</div>
						<div class='tools-title'>
							<p>Contractions</p>
						</div>
					</div>
					<div class="tool-cards" id="sportCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_yoga_sport.svg" alt="Icône sport">
						</div>
						<div class='tools-title'>
							<p>Activité physique</p>
						</div>
					</div>
				</div>

				<div class="bidiv">
					<div class="tool-cards" id="vaccineCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_vaccine.svg" alt="Icône vaccinations">
						</div>
						<div class='tools-title'>
							<p>Vaccinations</p>
						</div>
					</div>
					<div class="tool-cards" id="phoneCard">
						<div class="background-image">
							<img src="/assets/media/icons/icon_phone.svg" alt="Icône téléphone">
						</div>
						<div class='tools-title'>
							<p>Appel d'urgence</p>
						</div>
					</div>
				</div>

			</div>

			<div>
				<button class='btn-download' onclick="generatePDF('{{user.email}}')">Téléchargement PDF</button>
			</div>
		</div>

	</section>


	<script>

		const currentDate = new Date();

function showDaysAround(numberOfDays) {
const daysToShow = [];
for (let i = numberOfDays; i > 0; i--) {
const pastDate = new Date();
pastDate.setDate(currentDate.getDate() - i);
daysToShow.push(pastDate);
}

daysToShow.push(currentDate);

for (let i = 1; i <= numberOfDays; i++) {
const futureDate = new Date();
futureDate.setDate(currentDate.getDate() + i);
daysToShow.push(futureDate);
}

const dateCardsContainer = document.createElement('div');
dateCardsContainer.className = 'date-cards-container';

daysToShow.forEach((date) => {
const dateCard = document.createElement('div');
dateCard.className = 'date-card';
if (date.toDateString() === currentDate.toDateString()) {
dateCard.id = 'current-date-card';
}

const dayName = daysOfWeek[date.getDay()];
const dayNumber = date.getDate();

const dayParagraph = document.createElement('p');
dayParagraph.textContent = dayName;
dayParagraph.className = 'day';


const dateParagraph = document.createElement('p');
dateParagraph.textContent = dayNumber;
dateParagraph.className = 'date';


dateCard.appendChild(dayParagraph);
dateCard.appendChild(dateParagraph);
dateCardsContainer.appendChild(dateCard);
});

const infoContainer = document.getElementById('info');
infoContainer.appendChild(infoDateContainer);
infoContainer.appendChild(dateCardsContainer);
}

const daysOfWeek = [
"Dim",
"Lun",
"Mar",
"Mer",
"Jeu",
"Ven",
"Sam"
];
const months = [
"Janvier",
"Février",
"Mars",
"Avril",
"Mai",
"Juin",
"Juillet",
"Août",
"Septembre",
"Octobre",
"Novembre",
"Décembre"
];
const monthName = months[currentDate.getMonth()];

const infoDateContainer = document.createElement('div');
infoDateContainer.id = 'info-date';
infoDateContainer.textContent = monthName;

const infoContainer = document.getElementById('info');
infoContainer.appendChild(infoDateContainer);

showDaysAround(2);


document.getElementById('foodCard').addEventListener('click', function () {
window.location.href = 'addfood';
});

document.getElementById('medicamentCard').addEventListener('click', function () {
window.location.href = 'addmedicaments';
});

document.getElementById('hospitalsCard').addEventListener('click', function () {
window.location.href = 'hospitals';
});

document.getElementById('doctorsCard').addEventListener('click', function () {
window.location.href = 'doctors';
});

document.getElementById('contactCard').addEventListener('click', function () {
window.location.href = 'contact';
});

const infoBabyContainer = document.querySelector('.info-baby-container');

infoBabyContainer.addEventListener('click', () => {
const infoContainer = infoBabyContainer.querySelector('.info-container');

if (infoContainer.style.display === 'none' || infoContainer.style.display === '') {
infoContainer.style.display = 'flex';
} else {
infoContainer.style.display = 'none';
}
});

function generatePDF(email) {
fetch (`/api/generate-pdf?email=${
encodeURIComponent(email)
}`).then(response => {
if (!response.ok) {
throw new Error('Erreur lors du téléchargement du PDF');
}
return response.blob();
}).then(blob => {
const url = window.URL.createObjectURL(blob);
const a = document.createElement('a');
a.href = url;
a.download = `Usuario_${email}.pdf`;
document.body.appendChild(a);
a.click();
a.remove();
window.URL.revokeObjectURL(url);
}).catch(error => console.error('Erreur lors du téléchargement du PDF :', error));
}
	</script>
{% endblock %}
