{% extends "../base.twig" %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}

	<section class="">
		<h1>Prête à embrasser cette nouvelle étape ?</h1>
		<div>
			<p id="day"></p>
			<p id="month"></p>
			<p id="year"></p>
		</div>

		<div>
			<div>
				<div>
					<img src="" alt="">
				</div>
				<div>
					<h2>Détails sur ton petit trésor :</h2>
				</div>
			</div>
			<div>
				<div>
					<p></p>
					<p>Kg</p>
				</div>
				<div>
					<p></p>
					<p>cm</p>
				</div>
				<div>
					<p></p>
					<p>semaines</p>
				</div>
			</div>
		</div>

		<div>
			<h2>Outils</h2>
			<div>
				<div>
					<div class="outils-cards" id="foodCard">
						<div>
							<img src="" alt="">
						</div>
						<div>
							<p>Alimentation</p>
						</div>
					</div>

					<div id="medicamentCard">
						<div>
							<img src="" alt="">
						</div>
						<div>
							<p>Médicaments</p>
						</div>
					</div>
				</div>


				<div></div>
			</div>
		</div>

	</section>


	<script>
		// Get the current date
const currentDate = new Date();

// Get the day, month, and year
const day = currentDate.getDate();
const month = currentDate.getMonth() + 1; // Months are 0-11, so we add 1
const year = currentDate.getFullYear();

// Display the date in the HTML
document.getElementById('day').textContent = `Day: ${day}`;
document.getElementById('month').textContent = `Month: ${month}`;
document.getElementById('year').textContent = `Year: ${year}`;

// Add click event to the food card
document.getElementById('foodCard').addEventListener('click', function () {
window.location.href = 'addfood';
});

document.getElementById('medicamentCard').addEventListener('click', function () {
window.location.href = 'addmedicaments';
});
	</script>
{% endblock %}
