{% extends "../base.twig" %}

{% block styles %}
	<link rel="stylesheet" href="/assets/css/hospitals.css">
{% endblock %}

{% block title %}
	<title>Hospitals</title>
{% endblock %}

{% block main %}
	<article class="main-container">
		<p class="page-title">Hôpitaux</p>
		<p id="welcome-text">Coucou
			<span id="name-text">{{user.firstname}}</span>
		</p>
		<h1>Informations sur les hôpitaux en urgence</h1>

			<div>
				<h2>Hôpital de la Timone</h2>
				<p>
					<strong>Services : </strong>
					Général, maternité</p>
				<p>
					<strong>Adresse :</strong>
					264 Rue Saint-Pierre</p>
				<p>
					<strong>Ville :</strong>
					Marseille</p>
				<p>
					<strong>Code Postal :</strong>
					13005</p>
				<p>
					<strong>Téléphone :</strong>
					+33 4 91 80 80 80</p>
				<p>
					<strong>Horaires :</strong>
					Ouvert 24 heures sur 24</p>
			</div>

			<div>
				<h2>Hôpital Nord</h2>
				<p>
					<strong>Services :</strong>
					Général, maternité</p>
				<p>
					<strong>Adresse :</strong>
					130 Rue de la Timone</p>
				<p>
					<strong>Ville :</strong>
					Marseille</p>
				<p>
					<strong>Code Postal :</strong>
					13016</p>
				<p>
					<strong>Téléphone :</strong>
					+33 4 91 80 12 34</p>
				<p>
					<strong>Horaires :</strong>
					Ouvert 24 heures sur 24</p>
			</div>

			<div>
				<h2>Centre Hospitalier d'Aix-en-Provence</h2>
				<p>
					<strong>Services :</strong>
					Général, maternité</p>
				<p>
					<strong>Adresse :</strong>
					23 Rue de la Paix</p>
				<p>
					<strong>Ville :</strong>
					Aix-en-Provence</p>
				<p>
					<strong>Code Postal :</strong>
					13100</p>
				<p>
					<strong>Téléphone :</strong>
					+33 4 42 38 00 00</p>
				<p>
					<strong>Horaires :</strong>
					Ouvert 24 heures sur 24</p>
			</div>

			<div>
				<h2>Hôpital Européen</h2>
				<p>
					<strong>Services :</strong>
					Général, maternité</p>
				<p>
					<strong>Adresse :</strong>
					12 Rue de la Réserve</p>
				<p>
					<strong>Ville :</strong>
					Marseille</p>
				<p>
					<strong>Code Postal :</strong>
					13003</p>
				<p>
					<strong>Téléphone :</strong>
					+33 4 91 22 40 40</p>
				<p>
					<strong>Horaires :</strong>
					Ouvert 24 heures sur 24</p>
			</div>

			<div>
				<h2>Hôpital de la Conception</h2>
				<p>
					<strong>Services :</strong>
					Général, maternité</p>
				<p>
					<strong>Adresse :</strong>
					147 Rue Saint-Pierre</p>
				<p>
					<strong>Ville :</strong>
					Marseille</p>
				<p>
					<strong>Code Postal :</strong>
					13005</p>
				<p>
					<strong>Téléphone :</strong>
					+33 4 91 80 60 00</p>
				<p>
					<strong>Horaires :</strong>
					Ouvert 24 heures sur 24</p>
			</div>

			<div>
				<h2>Clinique Axium</h2>
				<p>
					<strong>Services :</strong>
					Maternité, chirurgie</p>
				<p>
					<strong>Adresse :</strong>
					2 Avenue de l'Arc de Meyran</p>
				<p>
					<strong>Ville :</strong>
					Aix-en-Provence</p>
				<p>
					<strong>Code Postal :</strong>
					13090</p>
				<p>
					<strong>Téléphone :</strong>
					+33 4 42 23 34 56</p>
				<p>
					<strong>Horaires :</strong>
					Lundi à vendredi, de 8h00 à 18h00</p>
			</div>

			<div>
				<h2>Polyclinique du Parc</h2>
				<p>
					<strong>Services :</strong>
					Maternité, chirurgie</p>
				<p>
					<strong>Adresse :</strong>
					7 Avenue des Chênes</p>
				<p>
					<strong>Ville :</strong>
					Aix-en-Provence</p>
				<p>
					<strong>Code Postal :</strong>
					13090</p>
				<p>
					<strong>Téléphone :</strong>
					+33 4 42 28 70 00</p>
				<p>
					<strong>Horaires :</strong>
					Lundi à vendredi, de 8h00 à 18h00</p>
			</div>

	</article>


{% endblock %}
