{% extends "../base.twig" %}

{% block styles %}
	<link rel="stylesheet" href="./assets/css/securitypg.css">
{% endblock %}

{% block title %}
	<title>Politique de sécurité des données</title>
{% endblock %}

{% block main %}
	<article class="main-container">
		<h1>Politique de sécurité des données
		</h1>
		<p>
			La sécurité des données est un enjeu majeur pour toute application qui traite des informations personnelles, et plus encore lorsqu'il s'agit de données médicales sensibles. Dans le cadre de notre application dédiée aux femmes enceintes, la protection des données est primordiale. Cet article détaille les mesures que nous prenons pour assurer la sécurité de vos informations et prévenir tout accès non autorisé, modification ou perte.
		</p>
		<h2 class="title-h2">
			1. Principes de base de la sécurité des données
		</h2>
		<p>
			Notre approche de la sécurité repose sur les principes suivants :
		</p>
		<ul>
			<li>
				<b>Confidentialité :</b>
				Seules les personnes autorisées, comme vous et les professionnels de santé que vous désignez, peuvent accéder à vos données.</li>
			<li>
				<b>Intégrité :</b>
				Nous garantissons que vos données ne seront ni modifiées ni altérées sans votre accord.</li>
			<li>
				<b>Disponibilité :</b>
				Vos informations sont accessibles uniquement lorsque vous en avez besoin, tout en étant protégées contre les interruptions de service.</li>
		</ul>

		<p>
			Ces trois piliers assurent que vos données sont non seulement en sécurité, mais aussi disponibles et intactes, sans compromis sur leur confidentialité.
		</p>
		<h2 class="title-h2">
			2. Mesures techniques de sécurité
		</h2>
		<p>
			Nous avons mis en place des technologies de pointe pour protéger vos données personnelles et médicales. Parmi ces mesures techniques, vous trouverez :
		</p>
		<ul>
			<li>
				<b>Chiffrement des données :</b>
				Toutes les données que vous saisissez dans l’application sont chiffrées à l’aide de protocoles avancés, aussi bien lors du stockage qu’au moment de leur transfert. Cela signifie que même en cas d'interception, vos informations resteront illisibles pour des tiers non autorisés.</li>
			<li>
				<b>Stockage sécurisé :</b>
				Vos données sont stockées sur des serveurs sécurisés respectant les normes internationales de protection des données. Ces serveurs sont situés dans des centres de données certifiés et conformes aux meilleures pratiques en matière de sécurité informatique.</li>
			<li>
				<b>Suivi des accès et journalisation :</b>
				Chaque fois que vos données sont consultées ou modifiées, une trace est enregistrée dans nos systèmes pour garantir un suivi rigoureux. Vous pouvez ainsi consulter un historique des activités liées à vos informations.</li>
		</ul>

		<h2 class="title-h2">
			3. Mesures organisationnelles de sécurité
		</h2>
		<p>
			Au-delà des technologies, notre équipe applique également des mesures organisationnelles strictes pour assurer la sécurité de vos données :
		</p>
		<ul>
			<li>
				<b>Accès limité au personnel :</b>
				Seuls les membres de notre équipe ayant besoin d’accéder à vos données dans le cadre de leur travail (par exemple, pour résoudre un problème technique) sont autorisés à le faire. Chacun d'entre eux est soumis à une obligation de confidentialité stricte.</li>
			<li>
				<b>Plans de réponse en cas d’incident :</b>
				En cas de violation de données ou de tentative d’intrusion, nous avons mis en place des procédures d’intervention rapide. Cela inclut la notification des utilisateurs concernés, une enquête approfondie et la mise en place de correctifs immédiats pour prévenir de futurs incidents.</li>
		</ul>

		<h2 class="title-h2">
			4. Protocole de gestion des violations de données
		</h2>
		<p>
			Bien que nous prenions toutes les précautions possibles pour prévenir les incidents de sécurité, il est important d’avoir un plan en place en cas de violation de données. Voici comment nous réagissons en cas de violation :
		</p>
		<ul>
			<li>
				<b>Notification des utilisateurs :</b>
				Si une violation de données implique vos informations personnelles, nous vous en informerons dans les plus brefs délais. Vous recevrez des détails sur les informations compromises, les mesures que vous pouvez prendre pour vous protéger, et ce que nous faisons pour résoudre la situation.</li>
			<li>
				<b>Notification des autorités compétentes :</b>
				Conformément au RGPD, nous informerons également les autorités de protection des données dans les 72 heures suivant la découverte de la violation.</li>
			<li>
				<b>Révision des systèmes de sécurité :</b>
				Après une violation, nous procéderons à un examen approfondi de nos systèmes et processus pour identifier les failles potentielles et y remédier immédiatement.</li>
		</ul>

		<h2 class="title-h2">
			5. Vos responsabilités en matière de sécurité
		</h2>
		<p>
			Bien que nous mettions tout en œuvre pour protéger vos données, il est également important que vous contribuiez à la sécurité de vos informations. Voici quelques conseils pour vous assurer que vos données restent protégées :
		</p>
		<ul>
			<li>
				<b>Choisissez un mot de passe sécurisé :
				</b>Utilisez un mot de passe unique et difficile à deviner, contenant des lettres majuscules et minuscules, des chiffres et des symboles. Évitez d’utiliser le même mot de passe pour plusieurs services.</li>
			<li>
				<b>Soyez vigilante aux e-mails de phishing :</b>
				Ne partagez jamais vos informations personnelles via e-mail ou en réponse à des messages non sollicités. Si vous recevez un e-mail suspect prétendant venir de notre part, contactez notre service client pour vérifier son authenticité.</li>
		</ul>

		<h2 class="title-h2">
			6. Modifications et mises à jour
		</h2>
		<p>
			Nous révisons régulièrement nos protocoles de sécurité pour les adapter aux évolutions technologiques. Vous serez informée de toute modification substantielle de cette politique de sécurité. Nous vous encourageons à consulter périodiquement cette page pour rester informée sur la manière dont vos données sont protégées.
		</p>
		<h2 class="title-h2">
			7. Questions fréquentes sur la sécurité des données
		</h2>
		<h3>1. Mes données peuvent-elles être piratées malgré vos mesures de sécurité ?</h3>
		<p>
			Bien que nous mettions en place les meilleures pratiques de sécurité, aucun système n’est totalement invulnérable. Cependant, nos protocoles réduisent considérablement les risques, et en cas d'incident, nous avons des procédures de réponse rapide.
		</p>
		<h3>
			2. Où sont stockées mes données ?</h3>
		<p>
			Vos données sont stockées dans des centres de données sécurisés respectant des normes strictes de protection. Ces centres sont surveillés 24h/24 pour prévenir toute intrusion.
		</p>
		<h3>3. Qui peut accéder à mes informations médicales ?</h3>
		<p>
			Seules les personnes autorisées (vous, les professionnels de santé que vous désignez, et notre équipe technique si nécessaire) ont accès à vos données. Aucune information ne sera partagée sans votre consentement.
		</p>
		<h2 class="title-h2">

			8. Contact
		</h2>
		<p>
			Si vous avez des questions concernant notre politique de sécurité ou si vous souhaitez signaler une faille potentielle, n'hésitez pas à nous contacter à contact@maternacare.fr ou via le formulaire de contact. Nous prenons chaque demande ou signalement très au sérieux et nous nous engageons à répondre dans les plus brefs délais.
		</p>
	</article>
{% endblock %}
